{% extends "template/base.html" %}

{% block titulo %} Bolsa de empleo {% endblock %}

{% block contenido_principal %}
<!-- Búsqueda -->
<div class="row justify-content-end" style="margin-top:5px;">
    <div class="d-flex flex-column">
        <!-- BUSCA LAS OFERTAS -->
        <form method="get" action="/ofertas" class="form-inline">
            <input class="form-control mr-sm-2" type="search"
                   placeholder="Busqueda por cargo" name="busqueda"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                Buscar
            </button>
        </form>
        <a href="/ofertas/avanzado">Búsqueda avanzada</a>
    </div>
</div>

<h2>Ofertas de empleo</h2>
<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Empresa</th>
            <th>Cargo</th>
            <th>Sueldo</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for oferta in ofertas %}
        <tr>
            <td>{{ oferta.empresa }}</td>
            <td>{{ oferta.cargo }}</td>
            <td>{{ oferta.sueldo }}</td>
            <td>
                <a href="/oferta/ver/{{ oferta._id.toString() }}">Ver</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
<nav>
    <ul class="pagination justify-content-center">
        {% for pagina in paginas %}
        <li class="page-item" id="pi-{{ pagina }}">
            <a class="page-link" href="/ofertas?pg={{ pagina }}" >{{ pagina }}</a>
        </li>
        {% endfor %}
        <script>
            $( "#pi-{{ actual }}" ).addClass("active");
        </script>

    </ul>
</nav>

{% endblock %}
