{% extends "../template/base.html" %}

{% block titulo %} Mis ofertas {% endblock %}

{% block contenido_principal %}
<h2>Mis ofertas</h2>
<a href="/priv/misofertas/nuevo"
   class="btn btn-primary btn-lg active">
    Nueva oferta
</a>

<div class="table-responsive">
    <table class="table">
        <thead  class="thead-dark">
        <tr>
            <th>Empresa</th>
            <th>Cargo</th>
            <th>Sueldo</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for oferta in ofertas %}
        <tr>
            <td>{{ oferta.empresa }}</td>
            <td>{{ oferta.cargo }}</td>
            <td>{{ oferta.sueldo }}</td>
            <td>
                <a href="/priv/misofertas/modificar/{{ oferta._id.toString() }}">Ver</a>
                <br/><a href="/priv/misofertas/eliminar/{{ oferta._id.toString() }}">Borrar</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
<nav>
    <ul class="pagination justify-content-center">
        {% for pagina in paginas %}
        <li class="page-item" id="pi-{{ pagina}}">
            <a class="page-link" href="/priv/misofertas?pg={{ pagina }}" >{{ pagina }}</a>
        </li>
        {% endfor %}
        <script>
            $( "#pi-{{ actual}}" ).addClass("active");
        </script>

    </ul>
</nav>


{% endblock %}