{% extends "../template/base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido_principal %}
    <h2>DPUI CAPITAL</h2>

    <div class="card m-2 ">
        <div class="card-body">
            <h3 class="card-title">Quien somos</h3>
            <p class="card-text">
                DPIU CAPITAL es el fondo de capital privado líder en España en inversiones en situaciones especiales con
                más
                de 1200 millones de euros bajo gestión.
            </p>
        </div>

        <div class="card-footer">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#quien_somos">Saber más</button>
        </div>
        <div id="quien_somos" class="collapse in p-4" style="background-color: rgba(0,0,0,.03);">
            <p>DPIU CAPITAL es el fondo de capital privado líder en inversiones en medianas empresas en
                España que atraviesan situaciones especiales, de especial complejidad y/o que requieren
                procesos de transformación. En este sentido, típicamente invierte tanto en el capital como en
                la deuda de empresas que cuentan con un buen posicionamiento estratégico pero que se
                enfrentan a importantes desafíos estratégicos, operativos, financieros o accionariales.</p>
            <p>La tesis de inversión caracteriza a DPIU CAPITAL como un socio activo y comprometido que
                contribuye con una visión de largo plazo, el capital necesario, un equipo propio con talento y
                una dilatada experiencia para crear valor y asegurar la competitividad de las empresas donde
                invierte.</p>
            <p>DPIU CAPITAL está respaldada por importantes inversores institucionales internacionales y por
                empresarios de éxito en sus respectivos sectores. Junto a ello, los propios gestores de DPIU
                CAPITAL mantienen igualmente un importante compromiso como inversores en el fondo
                Diseño y programación de interfaces de usuario. pascualjordan@uniovi.es 3
                DPIU CAPITAL está registrada en la CNMV como Sociedad Gestora de Entidades de Inversión
                de Tipo Cerrado.</p>
        </div>
    </div>

    <div class="card m-2 ">
        <div class="card-body">
            <h3 class="card-title">Un poco más sobre nosotros</h3>
            <p class="card-text">
                DPIU CAPITAL al cosntituye la firma más activa en inversiones en situaciones especiales de tamaño medio.
            </p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#un_poco_mas">Saber más
            </button>
        </div>
        <div id="un_poco_mas" class="collapse in p-4" style="background-color: rgba(0,0,0,.03);">
            <p>DPIU CAPITAL ha realizado 129 inversiones en los últimos cuatro años posicionándose como la
                firma líder en situaciones especiales de tamaño medio en España.</p>
            <p>DPIU CAPITAL cuenta con el equipo más experimentado en España para invertir en situaciones
                especiales.</p>
            <p>DPIU CAPITAL goza de claras ventajas competitivas en el cierre de la transacción dada su
                capacidad para cerrar operaciones de manera rápida (en 30 días), y su flexibilidad en la
                estructura de la operación (participaciones, precios, deuda, etc.) y las garantías aportadas por
                los vendedores.</p>
            <p>Importantes grupos financieros e industriales han confiado en SHERPA DPIU CAPITAL para
                desinversiones de parte de sus activos</p>
            <p>Una única labor: la gestión de activos financieros DPIU CAPITAL opta por gestionar una gama
                limitada de estrategias para lograr una mayor revalorización del capital de sus clientes a lo
                largo del tiempo.</p>
        </div>

    </div>


    <div class="card m-2 ">
        <div class="card-body">
            <h3 class="card-title">Nuestro método</h3>
            <p class="card-text">
                En cuanto a nuestro método, preferimos una gestión realista basada en nuestras destrezas.
            </p>
        </div>

        <div class="card-footer">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#metodo">Saber más</button>
        </div>
        <div id="metodo" class="collapse in p-4" style="background-color: rgba(0,0,0,.03);">
            <p>Los productos insignia de la casa, DPIU CAPITAL Investissement, DPIU CAPITAL Patrimoine y
                DPIU CAPITAL Securité, se lanzaron en 1989, con una marcada orientación internacional y
                hacia los países emergentes. Desde entonces, estos dos Fondos no han dejado de demostrar
                su resistencia a largo plazo, especialmente en periodos muy bajistas. Esa solidez corrobora la
                capacidad de DPIU CAPITAL para compaginar rentabilidad y gestión de riesgos.</p>
        </div>
    </div>

    <div class="card m-2 ">
        <div class="card-body">
            <h3 class="card-title">Nuestro equipo</h3>
            <p class="card-text">
                Nuestro equipo está formado por destacados ejecutivos procedentes de firmas
                de consultoría, puestos directivos, capital riesgo y banca de inversión, todos
                ellos con una dilatada experiencia en el sector de la reestructuración
                empresarial.
            </p>
        </div>

        <div class="card-footer">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#equipo">Saber más</button>
        </div>
        <div id="equipo" class="collapse in p-4" style="background-color: rgba(0,0,0,.03);">
            <p>Además, nos asociamos con equipos gestores en la ejecución de los planes de
                viabilidad y de reestructuración de las compañías objetivo.</p>
        </div>
    </div>

    <div class="card m-2 ">
        <div class="card-body">
            <h3 class="card-title">Nuestro objetivos</h3>
            <p class="card-text">
                Inversiones en empresas en situaciones especiales que se enfrentan a importantes retos
                estratégicos, operativos o financieros pero que cuenta con ventajas competitivas sostenibles y
                con posiciones relevantes en sus mercados.
            </p>
        </div>

        <div class="card-footer">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#objetivo">Saber más</button>
        </div>
        <div id="objetivo" class="collapse in p-4" style="background-color: rgba(0,0,0,.03);">
            <p>Facturación entre € 20M y 300M si bien no se descartan operaciones de mayor tamaño en coinversión.</p>
            <p>Enfoque multi-sectorial excepto sector financiero e inmobiliario.</p>
            <p>Interés especial por oportunidades de consolidación sectoriales (buy and build).</p>
            <p>Participación siempre con control de la gestión (mayoritaria o minoritaria)</p>
        </div>
    </div>

    <div class="card m-2 ">
        <div class="card-body">
            <h3 class="card-title">Nuestra metodología</h3>
            <p class="card-text">
                Metodología experiencia y creación de valor nuestra filosofía se basa en
                aportar no solo capital sino fundamentalmente gestión como palanca de
                creación de valor en las inversiones:
            </p>
        </div>

        <div class="card-footer">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#metodologia">Saber más</button>
        </div>
        <div id="metodologia" class="collapse in p-4" style="background-color: rgba(0,0,0,.03);">
            <p>El éxito sistemático a lo largo de los años, con rentabilidades muy por encima de la media de la
                industria, ha permitido a Sherpa Capital desarrollar una metodología para los procesos de
                transformación de compañías implementada con éxito en más de 150 empresas. Los aspectos
                fundamentales en los que se sustenta son:</p>
            <dl>
                <dt>
                    Definición y ejecución del Plan de 100 y 200 días.
                </dt>
                <dd>- Trabajo conjunto con el equipo directivo reforzándolo y apoyándolo cuando es necesario con nuestros propios ejecutivos de gestión.</dd>
                <dt>
                    Planes de crecimiento mediante internacionalización.
                </dt>
                <dt>
                    Planes de adquisiciones para consolidar el sector.
                </dt>
                <dd>- Habitualmente todas nuestras participadas adquieren al menos otra compañía de su industria.</dd>
                <dt>
                    Redefinición financiera con especial énfasis en lo relacionado con la estructura financiera y  liquidez.
                </dt>
                <dt>
                    Plan estratégico, reorientación estratégica y operativa del negocio.
                </dt>
            </dl>
        </div>
    </div>
{% endblock %}